<!DOCTYPE html>

<html lang="en">

<head>
  
  {% block title %}<title>Healthnet</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- catalog/static/css/styles.css -->
  {% load static %}
  <link rel = "stylesheet" href = "{% static 'css/styles.css' %}">

  </head>

<header>
	<h1 id="title">Healthnet</h1>
	<div class = "header_row">
		{% block sidebar %}
		<ul class = "sidebar_nav">
			<li><a href = "{% url 'index' %}">Home</a></li>
			<li><a href = "{% url 'login' %}">Login</a></li>
			<li><a href = "{% url 'patient_registration' %}">Register Patient</a></li>
		</ul>
		{% endblock %}
	</div>
	<br>
</header>
<div>
{% block content %}{% endblock %}
</div>
</html>