{% extends 'base_generic.html' %}

{% block content %}
    <head>
        {% load static %}
        <link rel= "stylesheet" type="text/css" href = "{% static 'css/subtitles.css' %}">
    </head>
    <h1 id="subtitle">Appointments</h1>
    {% for b in a %}
        <p>Appointment: {{ b }}</p>
        <p>Appointment: </p>
    {% endfor %}
    <p>Appointment:</p>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% for b in appointments %}
                    <p>Appointment: {{ b }}</p>
                {% endfor %}
                <br/>
                </div>
            </div>
        </div>

{% endblock %}