/* Header: */
#title {
	text-shadow:3px 2px 0 rgba(5,5,5,0.8);
	font-weight:bold;
	text-decoration:underline;
	font-variant:small-caps;
	color:#940909;
	letter-spacing:0pt;
	word-spacing:2pt;
	font-size:54px;text-align:left;
	font-family:palatino linotype, palatino, serif;
	line-height:1;

}

.sidebar_nav li a {
    display: block;
    float: left;
    padding: .5em .6em;
    text-transform: uppercase;
    text-decoration: none;
    color: #550055;
    border-radius: .3em;
    font-size: .8em;
}

.sidebar_nav li a:hover {
    background: #940909;
    color: #fff;
}

.sidebar_nav li {
	list-style: none;
}
/* End of Header Styling */

/* Calendar: */
.c_day {
	height: 8em;
	width: 14.2857%;
	vertical-align: top;
}

.c_filled {
	background-color: #ddd;
}

.noday {
	background-color: #555;
}

.c_day:hover {
	background-color: #fee;
}

.c_filled:hover {
	background-color: #cbb;
}

.noday:hover {
	background-color: #555;
}

.c_day li {
	list-style: none;
}

.c_day ul {
	padding: 0 0 0 .5em;
}

.c_dcontent {
	width: 100%;
    height: 85%;
    margin: 0;
    padding: 0;
    overflow: auto;
}

.c_dnum {
	width: 100%;
    height: 15%;
}

table.month th {
	background: #940909;
}

table.month th,td {
	border: 1px solid black;
}

.calendar, .calendar table {
	width: 100%;
	height: 100%;
}
/* End of Calendar Styling */

/* View Appointments: */
#id_appointments {
	list-style: none;
}

