#title {
	text-shadow:3px 2px 0 rgba(5,5,5,0.8);
	font-weight:bold;
	text-decoration:underline;
	font-variant:small-caps;
	color:#940909;
	letter-spacing:0pt;
	word-spacing:2pt;
	font-size:54px;text-align:left;
	font-family:palatino linotype, palatino, serif;
	line-height:1;

}


.sidebar_nav li a {
    display: block;
    float: left;
    padding: .5em .6em;
    text-transform: uppercase;
    text-decoration: none;
    color: #550055;
    border-radius: .3em;
    font-size: .8em;
}

.sidebar_nav li a:hover {
    background: #940909;
    color: #fff;
}

.sidebar_nav li {
	list-style: none;
}

