#subtitle {
	font-weight:bold;
	text-decoration:underline;
	font-variant:small-caps;
	color:#940909;
	letter-spacing:0pt;
	word-spacing:2pt;
	font-size:30px;text-align:left;
	font-family:arial, palatino linotype, palatino, serif;
	line-height:1;
}