{% extends 'base_generic.html' %}

{% block content %}
    <head>
        {% load static %}
        <link rel= "stylesheet" type="text/css" href = "{% static 'css/subtitles.css' %}">
    </head>
    <h1 id="subtitle">Patient Profile</h1>
    <form method="POST" class="post-form">{% csrf_token %}
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% for name, value in basicInfo.items %}
                    <p>{{ name }}: {{ value }}</p>
                {% endfor %}
                <br/>
                </div>
            </div>
        </div>
        <button name="update" value="Update Profile">Update Information</button>
        <button name="changePassword" value="changePassword">Change Password</button>
    </form>
{% endblock %}